


@media only screen and (max-width: 640px) {
.css-eqpfi5-MuiAccordionSummary-content {
    margin: 15px 0 20px !important;
    
}
.Accoinian .css-l0jafl {

    margin: 15px 0 !important;
  
}

}

.Accoinian svg {
    color: white;
}
.Accoinian .css-1aj41gs::before{
    background-color: rgb(80 80 80) !important;
}