.adbsframe{
    background-image: url(../../../public/Images/frame.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
@media only screen and (max-width: 640px) {
    .btn {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    }