.hhh{
    background-image: url(../../../public//Images//banner.svg);
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    object-position: 50% 50%;

}


.adbsframe{
    background-image: url(../../../public/Images/frame.svg);
    /* width: 100%; */
    /* height: 666px; */
    background-repeat: no-repeat;
    background-size: contain;
}
@media only screen and (max-width: 640px) {
    .btn {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    }