.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  overflow: hidden;
}

.slider-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.slide-item {
  flex: 0 0 calc(100% / 5); 
  box-sizing: border-box;
  padding: 0 10px;
}

.slide-item img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.slide-back{
  background-image: url("../../../public/Images/Ratingback.svg");

    background-repeat: no-repeat;
    background-size: cover;

 
}





@media only screen and (max-width: 640px) {

.slide-item {
  flex: 0 0 calc(100% / 6);
  box-sizing: border-box;
  padding: 0 10px;
}
}
