@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-size: 22px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  background-color: #0e1014;
}


h1 {
  font-size: 50px;
  font-family: impact;
  color: white;
}
button{
  color: white;
}

li{
  list-style: none;
}

h2{
  font-size: 42px;
  font-family: impact;
  font-weight: 400;
  color: white;
  line-height: 52px;

}
h3{
  font-size: 26px;
  font-family: impact;
}
h4{
  font-size: 25px;
  font-weight: 500;
 
}

label{
  font-size: 18px;
}
select{
  font-size: 18px;
}
.gk-button:hover span::after{
  opacity: 2;
}
span.omega::after {
  content: ">";
  position: absolute;
  right: 10px;
  transition: 500ms;
  opacity: 0;
}
button.gk-button {
  font-size: 22px;
  padding: 10.5px 29px;
  font-weight: 400;
  border-style: none;
  border-radius: 3px;
  color: white;
  background: linear-gradient(4deg, rgba(77, 143, 45, 1) 46%, rgba(130, 188, 41, 1) 100%);
  box-shadow: 11px 12px 3px #161616;
  margin-top: 20px;
  display: inline-block;
  position: relative;
  transition: .6s;
}
button.gk-button:hover {

    transform: translateY(-6px);

}
.manrope-gk-p {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  font-size: 24px;
  color: white;
}

.manrope-gk-p-list {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 34px;
  font-size: 20px;
  color: white;
}
@media only screen and (max-width: 1024px) {

  
  h1{
    font-size: 36px;
    font-family: impact;
    color: white;
    
    font-weight: 400;
}
  label{
    font-size: 18px;
  }
  select{
    font-size: 16px;
  }
  .manrope-gk-p {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 34px;
    font-size: 18px;
    color: white;
}
.manrope-gk-p-list {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 34px;
  font-size: 16px;
  color: white;
}
button.gk-button {
  font-size: 18px;
  padding: 10.5px 29px;
  font-weight: 400;
  border-style: none;
  border-radius: 3px;
  color: white;
  background: linear-gradient(4deg, rgba(77, 143, 45, 1) 46%, rgba(130, 188, 41, 1) 100%);
  box-shadow: 11px 12px 3px #161616;
  margin-top: 20px;
  
}
h4 {
  font-size: 21px;
  font-weight: 400;
 
}
/* in feature section span styling */
.feature-span span {
  font-size: 21px !important;
}


}
@media only screen and (max-width: 640px) {
  h1.gk-h1 {
    font-size: 42px;
    font-family: impact;
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 52px;
}
  
  
  .manrope-gk-p {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 28px;
    font-size: 18px;
    color: white;
    text-align: center;
  }
  button.gk-button {
    font-size: 16px;
    padding: 10.5px 29px;
    font-weight: 400;
    border-style: none;
    border-radius: 3px;
    color: white;
    background: linear-gradient(4deg, rgba(77, 143, 45, 1) 46%, rgba(130, 188, 41, 1) 100%);
    box-shadow: 11px 12px 3px #161616;
    margin-top: 20px;
    text-align: center;
  }
  h2 {
    font-size: 36px;
    font-family: impact;
    font-weight: 400;
    color: white;
    line-height: 42px;
}

}

/* footer butto */
.chin-popup {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: block;
  z-index: 1000;
}
.footer-btn{
  font-size: 16px;
  padding: 10px 10px;
  font-weight: 400;
  border-style: none;
  color: white;
  background: linear-gradient(4deg, rgba(77, 143, 45, 1) 46%, rgba(130, 188, 41, 1) 100%);
  box-shadow: 11px 12px 3px #161616;
  margin-top: 0px;
  text-align: center;
  width: 100%;
  animation: zoom-in-zoom-out 2s ease-out infinite;
  overflow: hidden;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1); /* Reduced scale for a smaller zoom */
  }
  100% {
    transform: scale(1, 1);
  }
}



.header-to-hide {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed; /* Make sure the header stays fixed at the top */
  z-index: 1000; /* Ensure the header is above other elements */
}

.header-to-hide.scroll-down {
  transform: translateY(0);
  opacity: 1;
  display: block;
  background: #1f2523;
}

.header-to-hide.scroll-up {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none; /* Prevent interaction while hidden */
}




