@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-size: 22px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}


h1.gk-h1 {
  font-size: 62px;
  font-family: impact;
  color: white;
}
button{
  color: white;
}



h2.gk-h2{
  font-size: 42px;
  font-family: impact;
  font-weight: 400;
  color: white;
  line-height: 52px;

}
h3.gk-h3{
  font-size: 26px;
  font-family: impact;
}
h4.gk-h4 {
  font-size: 25px;
  font-weight: 600;
 
}

label{
  font-size: 18px;
}
select{
  font-size: 18px;
}
button.gk-button {
  font-size: 22px;
  padding: 10.5px 29px;
  font-weight: 400;
  border-style: none;
  border-radius: 3px;
  color: white;
  background: linear-gradient(4deg, rgba(77, 143, 45, 1) 46%, rgba(130, 188, 41, 1) 100%);
  box-shadow: 11px 12px 3px #161616;
  margin-top: 20px;
}
.manrope-gk-p {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  font-size: 24px;
  color: white;
}

.manrope-gk-p-list {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 34px;
  font-size: 20px;
  color: white;
}
@media only screen and (max-width: 1024px) {
  h1.gk-h1 {
    font-size: 42px;
    font-family: impact;
    color: white;
    text-align: center;
    font-weight: 400;
}
  label{
    font-size: 16px;
  }
  select{
    font-size: 16px;
  }
  .manrope-gk-p {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 34px;
    font-size: 18px;
    color: white;
}
.manrope-gk-p-list {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 34px;
  font-size: 16px;
  color: white;
}
button.gk-button {
  font-size: 18px;
  padding: 10.5px 29px;
  font-weight: 400;
  border-style: none;
  border-radius: 3px;
  color: white;
  background: linear-gradient(4deg, rgba(77, 143, 45, 1) 46%, rgba(130, 188, 41, 1) 100%);
  box-shadow: 11px 12px 3px #161616;
  margin-top: 20px;
}
h4.gk-h4 {
  font-size: 21px;
  font-weight: 400;
 
}


}
@media only screen and (max-width: 640px) {
  h1.gk-h1 {
    font-size: 42px;
    font-family: impact;
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 52px;
}
  
  
  .manrope-gk-p {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 28px;
    font-size: 18px;
    color: white;
    text-align: center;
  }
  button.gk-button {
    font-size: 16px;
    padding: 10.5px 29px;
    font-weight: 400;
    border-style: none;
    border-radius: 3px;
    color: white;
    background: linear-gradient(4deg, rgba(77, 143, 45, 1) 46%, rgba(130, 188, 41, 1) 100%);
    box-shadow: 11px 12px 3px #161616;
    margin-top: 20px;
    text-align: center;
  }

}